      <footer class="page-footer grey darken-1">
            <div class="container">
              <div class="row">
                <div class="col l6 s12">
                  <h5 class="white-text">PollerBear</h5>
                  <p class="grey-text text-lighten-4"></p>"Imagine a motivational quote here, and then never believe it."</p>
                </div>
                <div class="col l4 offset-l2 s12">
                  <h5 class="white-text">Explore</h5>
                  <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Polls Board</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">See the polls</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Professional looking option</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Another one</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="footer-copyright">
              <div class="container">
              © 2018 Itdoesntexistsyet.com
              <a class="grey-text text-lighten-4 right" target="_blank" href="https://itdoesntexistsyet.com">Take me to the site</a>
              </div>
            </div>
    </footer>