<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PollerBear | A Platform to conduct realtime polls</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/styles.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- This is for Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#db6969">
<!-- This is for Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#db6969">
<!-- This is for iOS - Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#db6969">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    
    {{!-- Pie chart --}}
     {{!-- <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> --}}
    {{!-- <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>   --}}
{{!-- <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script> --}}


    {{!-- Compiled and minified handlebars js --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
    {{!-- <script src="/js/libs/socket.io.js"></script> --}}
    {{!-- <script src="/js/libs/moment.js"></script> --}}
    {{!-- <script src="/js/libs/mustache.js"></script> --}}
    {{!-- <script src="/js/libs/jquery.validate.min.js"></script> --}}
    {{!-- <script src="/js/libs/deparam.js"></script> --}}
    <script src="/js/libs/is-empty.js"></script>

    <link rel="stylesheet" type="text/css" href="/jquery.jqplot.min.css"></link>
    <script src="/js/libs/jquery.jqplot.min.js"></script>
    <script src="/js/libs/jqplot.categoryAxisRenderer.js"></script>
    <script src="/js/libs/jqplot.pointLabels.js"></script>
    <script src="/js/libs/jqplot.enhancedLegendRenderer.js"></script>
    <script src="/js/libs/jqplot.enhancedPieLegendRenderer.js"></script>
    <script src="/js/libs/jqplot.pieRenderer.js"></script>
    <script src="/js/libs/jqplot.barRenderer.js"></script>
    <script src="/js/libs/jqplot.canvasAxisTickRenderer.js"></script>
    <script src="/js/libs/jqplot.canvasAxisLabelRenderer.js"></script>
    <script src="/js/addPoll.js"></script>