    <!-- Nav bar -->
    {{!-- <div class="navbar-fixed">
     <nav class="nav-extended grey darken-1">
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo white-text"><i class="material-icons">graphic_eq</i>Pollerbear</a>
          <a href="#" data-target="nav-mobile" class="sidenav-trigger white-text button-collapse"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="sass.html">About us</a></li>
            <li><a href="badges.html">Contact us</a></li>
            <li><a href="collapsible.html">Give Feedback</a></li>
          </ul>
        </div>
        <!-- <div class="nav-content">
          <ul class="tabs tabs-transparent">
            <li class="tab col 4"><a href="#test1">Home</a></li>
            <li class="tab col 4"><a class="active" href="#test2">Add a question</a></li>
            <li class="tab col 4"><a href="#test3">Answer A question</a></li>
            <li class="tab col 4"><a href="#test4">Polls</a></li>
          </ul>
        </div> -->
      </nav>
      </div> --}}
      <div class="navbar-fixed">
          <nav class="nav-extended">
          <div class="nav-wrapper">
            <a href="#!" class="brand-logo">Pollerbear</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                  <ul class="right hide-on-med-and-down">
                    <li><a href="sass.html">Home</a></li>
                    <li><a href="badges.html">Add a question</a></li>
                    <li><a href="collapsible.html">About</a></li>
                    <li><a href="mobile.html">Ask for a Date</a></li>
                  </ul>
            </div>
          </nav>
      </div>


  <ul class="sidenav" id="mobile-demo">
                    <li><a href="sass.html">Home</a></li>
                    <li><a href="badges.html">Add a question</a></li>
                    <li><a href="collapsible.html">About</a></li>
                    <li><a href="mobile.html">Ask for a Date</a></li>
  </ul>

    