    <!-- content -->

      <div class="row container">
        <h3 class="grey-text darken-2">Does Kiki really loves me ? </h3>
        <ul class="collection">
                <li class="collection-item">Not really <span class="new badge" data-badge-caption="People">4</span></li>
                <li class="collection-item">Noone can tell that <span class="new badge" data-badge-caption="People">4</span></li>
                <li class="collection-item">Who's kiki <span class="new badge" data-badge-caption="People">4</span></li>
                <li class="collection-item">Get back in your car <span class="new badge" data-badge-caption="People">4</span></li>
        </ul>
        <div class="row col s12 share-section">
              <div class="col s6 share-block hoverable">
                  <p class="flow-text left-align">Share Question Link</p>
                  <p class="flow-text grey-text darken-text-3 left-align">Anyone with this url can answer the question</p>
                  <a class="btn red lighten-3 waves-effect waves-teal"><span>Share</span></a>
              </div>
              <div class="col s6 share-block hoverable">
                  <p class="flow-text left-align">Share Polls Link</p>
                  <p class="flow-text grey-text darken-text-3 left-align">Anyone with this url can access the polls result of this question</p>
                  <a class="btn red lighten-3 waves-effect waves-teal left"><span>Share</span></a>
              </div>
        </div>
      </div>    