.form-container{
    /* background-color: grey; */
    /* margin-block-start: 12px; */
    /* border:grey 1px solid; */
    padding-top:30px;
}
/* .logo {
    padding:8px;
    background: green;  
} */

/* .option {
    border-radius: 12px;
    padding: 12px;
    margin-bottom:12px;
} */
.option label {
    padding:12px !important;
    margin-bottom: 20px !important;
    border-radius: 12px;
    border:1px solid rgb(180, 180, 180);
}
.brand-logo {
    padding-left: 12px !important;
}

.share-section{
    margin-top:20px;
}
.share-section .share-block{
    padding:30px;
    padding-bottom: 20px !important;
    /* background: red; */
}

